@tailwind base;
@tailwind components;
@tailwind utilities;

.button-outline {
    padding:2px 5px;
    border:2px solid black;
    border-color:black;
    background-color:rgb(230, 230, 245);
    border-radius: 6px;
    font-weight:500;
    

}
    
    
h1{
    text-align:justify;
    font-size:xx-large;
    font-style:bold;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    
}
